[submodule "ext/tinyformat"]
	path = ext/tinyformat
	url = https://github.com/wjakob/tinyformat
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui
[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/wjakob/tbb.git
